[Unit]
Description=Helper to synchronize boot up for ifupdown
DefaultDependencies=no
ConditionPathExists=/etc/network/interfaces
Wants=systemd-udevd.service
After=systemd-udev-trigger.service
Before=network.target

[Service]
Type=oneshot
TimeoutSec=30
RemainAfterExit=yes
EnvironmentFile=-/etc/default/networking
ExecStart=/bin/sh -c 'if [ "$CONFIGURE_INTERFACES" != "no" ] && [ -x /bin/udevadm ]; then if command -v ifquery >/dev/null 2>&1; then _ifaces="$(ifquery --read-environment --list --exclude=lo 2>/dev/null)"; else _ifaces="$(sed -n -e "/^[[:space:]]*auto[[:space:]]\\+/p" /etc/network/interfaces 2>/dev/null | tr " " "\\n" | grep -Ev "^(auto|lo|)$" || true)"; fi; [ -n "$_ifaces" ] && udevadm settle --timeout=15 || true; fi'
