[Unit]
Description=Bluetooth Power Switch
After=bluetooth.service dbus.service
Wants=bluetooth.service
ConditionVirtualization=no
ConditionPathExists=/usr/bin/bluetoothctl
ConditionPathExistsGlob=/sys/class/bluetooth/hci*

[Service]
Type=oneshot
TimeoutStartSec=15
TimeoutStopSec=10
ExecStart=-/usr/bin/bluetoothctl --timeout 5 power on
ExecStop=-/usr/bin/bluetoothctl --timeout 5 power off
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
